/* body{
  margin: 0;
  border: 2px;
  background: #262626;
} */
body{
  font-size: 14px;
}
.rating
{
  /* position: absolute;
  top: 50% ;
  left: 50% ;
  transform:translate(-50%,-50%); */
  display: flex ;
}
.rating input{
  display: none;
}
.rating label{
  display: block;
  cursor: pointer;
  width:50px;
  /* height:10px; */
  background: #ccc;
}

.rating label:before{
  content: '\f005';
  font-family: fontAwesome;
  position:relative;
  display:block;
}