/* body{
  margin: 0;
  border: 2px;
  background: #262626;
} */
/* body{
  font-size: 14px;
} */

/* .rating input {
  display: none;
} */
.star {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
  width: 2rem;
}

.star::before {
  content: "\2606"; /*unchecked star*/
  position: absolute;
  visibility: visible;
}
.star:checked:before {
  content: "\2605"; /*checked star*/
  position: absolute;
  color: gold;
}

/* .rating label {
  display: block;
  cursor: pointer;
  width: 20px;
  /* height:10px; */
  /* background: rgb(255, 255, 255); */
} */
.table-box {
  margin: 20px auto;
}
.table-row1 {
  display: flex;
  width: 100%;
  font-family: sans-serif;
  margin: 10px 2px;
  padding: 12px o;
  font-size: 13px;
}
.table-row-e {
  display: flex;
  width: 100%;
  margin: 10px 2px;
  font-family: sans-serif;
  background: transparent;
  padding: 12px 0;
  color: grey;
  background-color: rgba(169, 169, 169, 0.678);
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 50, 0.3);
}
.table-row-o {
  display: flex;
  width: 100%;
  margin: 10px 2px;
  font-family: sans-serif;
  background: transparent;
  padding: 12px 0;
  color: rgb(97, 90, 90);
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgb(0, 0, 50, 0.3);
}
.table-cell {
  display: table-cell;
  width: 20%;
  text-align: center;
  padding: 4px auto;
  /* margin-right: 1px; */
  vertical-align: middle;
}
.comments1 {
  max-width: 98%;
}
